#hero {
    width: 100%;
    height: 80vh;
    background: url("../18.jpg") top right;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    vertical-align: middle;
    align-content: center;
  }

  .link {
    color: #FFF;
  }

  #modal{
    position: absolute;
    top:40px;
    right: 200px;
    width: 60%;
    height: 70%;
    box-shadow: 4px 4px 4px rgb(114, 116, 114);
    animation: move .2s backwards;
 }


 #close{
  width:40px;
  border-radius: 150px;
  float: right;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#container {
  padding: 0 1rem;
  text-align: right;
  
}

#div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5px;
}

#posts{
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 9px 7px #36181833;

  padding: .5rem;
}


#posts div{
  padding: .5rem;
  margin: .6rem;
  background-color: white;
}

#users-liked {
  width: 100px;
  color: #282c34;
  border: none;
  background-color: "gray";
  padding: 2px;
}

#alert {
  font-weight: 200;
 color: crimson;
 font-style: italic;
 font-size: 14px;
}

#modal-likes{
  position: absolute;
  top:40px;
  right: 200px;
  width: 60%;
  height: 40%;
  box-shadow: 4px 4px 4px rgb(114, 116, 114);
  animation: move .2s backwards;
}