

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.container {
  padding: 0 1rem;
  text-align: right;
  
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}




.add-post{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 1rem;
  padding: 1rem;
}


.posts{
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 9px 7px #36181833;

  padding: .5rem;
}


.posts div{

  padding: .5rem;
  margin: .6rem;
  background-color:gainsboro;
}

.modal{
   position: absolute;
   top:40px;
   right: 200px;
   width: 50%;
   height: 60%;
   box-shadow: 4px 4px 4px rgb(114, 116, 114);
   animation: move .2s backwards;
}
.modal-likes{
  position: absolute;
  top:40px;
  right: 200px;
  width: 60%;
  height: 40%;
  box-shadow: 4px 4px 4px rgb(114, 116, 114);
  animation: move .2s backwards;
}
div {
  border-radius: 5px;

  padding: 10px;
}



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.close{
  width:40px;
  border-radius: 150px;
  float: right;
}
input,textarea{
  margin: .3rem;
  padding: 1rem;
  font-size: 1.2rem;
}

.users-liked {
max-width: 300px;
  color: #282c34;
  border: none;
  background-color: "gray";
  padding: 2px;
}
.alert {
   font-weight: 200;
  color: crimson;
  font-style: italic;
  font-size: 14px;
}


button:hover{
  background-color: rgba(9, 123, 216, 0.808);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 